{% extends 'master' %}

{% block content %}
    <div>
        <p>
            Below is the list of all the awesome posts created by all of us. You can also
            contribute by clicking the below button.
        </p>
        <a href="/messageBoard/create" class="btn btn-success btn-block"> Create New Post </a>
        <hr>
    </div>
    <div class="posts-wrapper">
        {% for post in posts %}
            <div class="post">
                <h2><a href="/messageBoard/posts/{{ post.id }}"> {{ post.title }} </a></h2>
                <h5> {{ post.name }} </h5>
                <p> {{ post.content | truncate(150) }} </p>
            </div>
        {% else %}
            <h2> No posts found </h2>
        {% endfor %}
    </div>
{% endblock %}