{% extends 'master' %}

{% block content %}
    {% if old('errors') %}
      <div class="alert alert-danger">
        {% for error in old('errors') %}
          <li> {{ error.message }} </li>
        {% endfor %}
      </div>
    {% endif %}
    {{ form.open({action: 'MessageController.store'}) }}

    {{ csrfField }}

        <fieldset class="form-group">
            {{ form.label('Title') }}
            {{ form.text('title', null, { class: 'form-control' }) }}
        </fieldset>

        <fieldset class="form-group">
            {{ form.label('Name') }}
            {{ form.text('name', null, { class: 'form-control' }) }}
        </fieldset>

        <fieldset class="form-group">
            {{ form.label('Content') }}
            {{ form.textarea('content', null, { class: 'form-control' }) }}
        </fieldset>

    {{ form.submit('Publish', 'publish', { class: 'btn btn-primary btn-block' }) }}

    {{ form.close() }}
{% endblock %}