{% extends 'master' %}

{% block content %}
  <div class="post">
    <div>
      <a href="/messageBoard">  Go Back </a>
    </div>
    <hr>
    <h1>{{ post.title }}</h2>
    <h5>{{ post.name}}</h5>
    <p>{{ post.content }}</p>
  </div>
{% endblock %}