{{ form.open({url: '/user/userAdd', method: 'POST'}) }}
  {{ csrfField }}

  <div class="field">
    {{ form.label('users_name', 'Choose a users_name') }}
    {{ form.text('users_name') }}
  </div>

  <div class="field">
    {{ form.label('users_email', 'Enter users_email address') }}
    {{ form.text('users_email') }}
  </div>

  <div class="field">
    {{ form.label('password', 'Choose a strong password') }}
    {{ form.password('users_password') }}
  </div>

  <div class="button">
    {{ form.submit('Register') }}
  </div>

{{ form.close() }}